.container-fluid {
  background-color: #337ab7;
}

.title {
  text-align: center;
  font-weight: bold;
  color: white;
}


#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.35;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0s;
}

/* Position main div, push below tab bar */
div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Position and style components outside of panel */
#points_displayed_message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  width: 90%;
}
#api_status_button {
  position: absolute;
  bottom: 10px;
  right: 50px;
}
#github_button {
  position: absolute;
  bottom: 10px;
  right: 25px;
  
  color: #fff; 
  background-color: #000;
  border-color: #2e6da4;
}
#help_button {
  position: absolute;
  bottom: 20px;
  right: 5px;
  
  color: #337ab7; 
  background-color: #fff;
  border-color: #2e6da4;
}
/* Uncertain why help_button and api_status_button have different bottom values, but it works */

/* Overwrite class to move map controls right */
.leaflet-left {
  left: auto;
  right: 0px;
}
