#dispatch_map {
  height: calc(100vh - 50px) !important;
}

.sidebar {
  height: 90vh; 
  
  overflow-x: auto;
  overflow-y: auto;
}

#sidebarCollapsed {
  padding-top: 30px;
}

/* Remove bottom margin from input groups */
.form-group {
    margin-bottom: -10px;
}

/* Style the dropdown menus (force down and no wider than sidebar) */
.dropdown-menu.open {
  top: 100%;
  bottom: auto;
  width: 100%;
}

/* Navbar and Sidebar Button Color */
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #357ca5;
  color: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #222d32;
  color: #fff;
}

.skin-blue .main-header .navbar {
  background-color: #357ca5;
}


/* Control main header color widths */
.main-header .logo {
  width: 325px;
  float: left;
}
.main-header .navbar-static-top {
  margin-left: 325px;
}

/* Screens more narrow than 350px */
/* Subtract 50px to leave room for sidebar toggle button */
@media (max-width: 350px) {
  .sidebar {
    width: calc(100vw - 50px);
  }
  
  #new_points {
    left: 0px;
  }
  
  .main-header .logo {
    width: calc(100vw - 50px);
  }
  .main-header .navbar-static-top {
    margin-left: calc(100vw - 50px);
  }
}


/* Position and style components outside of panel */
#api_status_button {
  position: absolute;
  bottom: 2.5vh;
  right: 50px;
}
#github_button {
  position: absolute;
  bottom: 2.5vh;
  right: 25px;
  
  color: #fff; 
  background-color: #000;
  border-color: #2e6da4;
}
#help_button {
  position: absolute;
  bottom: 5vh;
  right: 5px;
  
  color: #337ab7; 
  background-color: #fff;
  border-color: #2e6da4;
}
/* Uncertain why help_button and api_status_button have different bottom values, but it works */

/* Overwrite class to move map controls right */
.leaflet-left {
  left: auto;
  right: 0px;
}

/* Custom Leaflet delete button */
.delete-button {
  background: url('https://img.icons8.com/android/24/000000/trash.png') no-repeat;
  background-color: #FFF;
  background-size: 60% 60%;
  background-position: center;

  height: 30px;  
  width: 30px;
}


